body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', sans-serif;
    color: #40514E;
    font-size: 18px;
}
.h1{
    color: white;
}

h1{
    color: #66BFBF;
    margin: 0;
    font-family: 'Sacramento', cursive;
    font-size: 70px;
}
h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    padding-bottom:10px ;
}

h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
p{
    line-height: 2;
}
hr{
    border: dotted #EAF6F6; 
    border-bottom: none;
    width: 5%;
    margin: 50px auto;
}
.intro{
    width: 30%;
    margin: auto;
}
.top-container{
    background-color: #ff9d00;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
    position: relative;
    padding-top:100px ;
}
.middle-container{
    margin: 100px 0 100px 0;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.image-container{
    height: 300px;
    width: 300px;
    background: linear-gradient(to right, #33ccff 0%, #ff99cc 70%);
    text-align: center;
    margin: auto;
    border-radius: 100%;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.html-image{
    float: left;
   margin-right: 30px;
}
.ui-image{
    float: right;
    margin-left: 30px;
}
.graphics-image{
    float: left;
    margin-right: 30px;
}
.wordpress-image{
    float: right;
    margin-left: 30px;
}
.btn {
    padding: 10px ;
    border-radius: 20px;
    background-color: #11999E;
    text-decoration: none;
    width: 150px;
    height: 20px;
    margin: auto;
    text-decoration: none;
    transition: padding 1.5s ;
}
.btn:hover{
    color: white;
    margin-top: 10px;
    padding: 15px;
}
.btn a{
    text-decoration: none;
    color:white;
}
.btn a:hover{
    text-decoration: underline;
}
.bottom-container{
    background-color: #11999E;
    padding: 50px 0 20px;
    color: white;
}
.bottom-container a {
    text-decoration: none;
    color: white;
    padding: 0 16px;
}
.bottom-container a:hover{
    text-decoration: underline;
    
}
@media only screen and (max-width: 600px)  {
   
   .intro{
       width: 50%;
   }
    .mountain-image{
        position: static;
        width: 60%;
    }
    .top-container{
        background-color: #DFF6FF;
       width: 100%;
       
    }
    .middle-container{
        margin: 10px;
    }
    .bottom-cloud{
        display: none;
      }
    .top-cloud{
        display: none;
        }
    .html-image{
        display: block;
        padding: 20px;
        }
    .ui-image{
    display: block;
    padding: 20px;
    }
    .graphics-image{
    display: block;
    padding: 0 5% 20px 5%;
    margin: 30px;
        
    }
    .wordpress-image{
        display: block;
        margin-left: 200px;
        margin-right: auto;
        width: 96%;
        padding: 10px;
      
    }
    .graphics-image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 96%;
        padding: 10px;
    }
    .ui-image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 96%;
        padding: 10px;

    }
    .html-image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 96%;
        padding: 10px;
    }
    .images{
  margin-left: auto;
  margin-right: auto;

    }
    .skill-row{
        width: auto;
        text-align: center;
    }
    .bottom-container{
        background-color: #11999E;
        padding: 50px 0 20px;
        color: white;
    }
    .contact-me{
        padding-bottom: 50px;
    }
       
 }